# Python'a özel gereksiz dosyalar
__pycache__/
*.pyc

# Sanal ortam klasörü (eğer kullanıyorsanız)
venv/
env/

# Log dosyaları
/logs/

# GİZLİ BİLGİLER - ASLA GITHUB'A YÜKLENMEMELİ!
.env
private_key.pem
public_key.pem
tokens.json

# Projeye Özel Yapılandırma ve Versiyon Dosyaları
System_prompt_*
Workflow_*.json